-server
-Xmx3G
-XX:InitialRAMPercentage=80
-XX:MaxRAMPercentage=80
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/var/trino/heap-dump.bin
-XX:ReservedCodeCacheSize=512M
-XX:+UseG1GC
-XX:+UseGCOverheadLimit
-XX:ErrorFile=/var/trino/hs_err_pid%p.log
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000
