# MINIO (S3-compatible storage)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT=http://minio:9000


# POSTGRES (source / metastore / lakehouse DB)
POSTGRES_HOST=postgres-source
POSTGRES_CONTAINER_NAME=postgres-lakehouse
POSTGRES_PORT=5432
POSTGRES_DB=lakehouse
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Tables usadas no ingestion (raw layer)
POSTGRES_TABLES=raw.movies,raw.movie_elicitation_set,raw.belief_data


# KAFKA (ingestion layer)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=csv-topic
KAFKA_TOPIC_DLQ=csv-topic-dlq
KAFKA_TOPIC_PREFIX=csv
KAFKA_TOPIC_PATTERN=.*

CSV_PATH=/data/source/csv
PROCESSED_FILES_PATH=/data/state/offsets.json

PRODUCER_RETRIES=3
PRODUCER_RETRY_DELAY=0

SCHEMA_REGISTRY_PATH=/data/state/schemas.json


# DELTA LAKE / LAKEHOUSE STORAGE (MinIO via S3A)
BRONZE_BASE_PATH=s3a://lakehouse/bronze.db
CHECKPOINT_BASE_PATH=s3a://lakehouse/checkpoints


# AIRFLOW
AIRFLOW_FERNET_KEY=JRyvGoQEAsMbT47k6nc6iuuso7Bguh-mfFi6fY-lRiE=
AIRFLOW_SECRET_KEY=c086d86f4d731881607f752a88500aaa97490582c1c8bf9770906e23e4744267


# DBT
DBT_PROFILES_DIR=/usr/app/dbt
DBT_TARGET=dev


# METABASE
METABASE_DB_PASSWORD=metabase
METABASE_SECRET_KEY=changeme-32-chars-minimum-secret


# PROJECT
PROJECT_ROOT=C:\data-lakehouse